html
    head
      title= Coins
      link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    body
      main#main
          h1.ui.center.aligned.header Selected coin's data:
          .ui.container

          block content
